.testClass
{
   background-color: #D9D7F1;
}
.navbar_buttons
{
  border-radius: 5px;
  color: white;
  background-color: #92A9BD;
  padding: 5px 10px 8px 10px;
  margin-right: 200px;


}
.remove_link
{
  text-decoration: none;
  color :white;
}

.container {
  margin: auto; 
  background-color: red;
  border-radius:10px;
  min-width: 45vw;
  max-width: 90vw;
}