.testClass
{
   background-color: #d0ba92;
}
.navbar_buttons
{
  border-radius: 5px;
  color: white;
  background-color: black;
  padding: 5px 10px 8px 10px;
  margin-right: 50px;
}

.logo {
    max-height: 60px;
    margin-right: 50px;
}

.remove_link
{
  text-decoration: none;
  color: #d0ba92;
}

.home {
  background-color: black;
  min-height: 90vh
}

.container {
  margin: auto; 
  background-color: #d0ba92;
  border-radius:10px;
  min-width: 45vw;
  max-width: 90vw;
  margin-top: 40px;

  color: black;
  min-height: 70vh
}

.message {
  padding: 10px;
  max-width: 50vw;
  background-color: #d0ba92;
  border-radius: 10px; 
  text-align: left;
}

.input {
  padding: 5px;
}